<div>
	<div ng-show="!activeModel || !activeModel.id">
		<div class="panel panel-default">
			<div class="panel-heading">
				<es-add-new es-text="{{lang.pages.categories.createCategoryText}}"></es-add-new>
			</div>
			<div class="panel-body">
				<es-app-datagrid es-resource="{{resource}}" es-columns="fields" es-options="options"></es-app-datagrid>
			</div>
		</div>
	</div>
	<div ng-show="!activeModel || !activeModel.id">
	</div>
	<div ng-show="activeModel && activeModel.id">
		<es-app-textbox es-validate="validations.name" es-readonly="readonly" es-model="activeModel.name" es-field="name" es-placeholder="{{lang.pages.categories.inputCategoryNameText}}" es-label="{{lang.pages.categories.categoryNameText}}"></es-app-textbox>
		<es-app-select es-readonly="readonly" es-model="activeModel.status" es-field="status" es-options="normalStatus" es-label="{{lang.pages.common.statusText}}"></es-app-select>
		<es-app-maint-button-group es-model="activeModel" es-validate="validateFinalResult"></es-app-maint-button-group>
	</div>
</div>