<div>
	<div ng-show="!activeModel || !activeModel.id">
		<div class="panel panel-default">
			<div class="panel-heading">
				<es-add-new es-text="{{lang.pages.codes.createCodeText}}"></es-add-new>
			</div>
			<div class="panel-body">
				<es-app-datagrid es-resource="{{resource}}" es-columns="fields" es-options="options"></es-app-datagrid>
			</div>
		</div>
	</div>
	<div ng-show="!activeModel || !activeModel.id">
	</div>
	<div ng-show="activeModel && activeModel.id">
		<es-app-textbox es-validate="validations.name" es-readonly="readonly" es-model="activeModel.codeNumber" es-field="number" es-placeholder="{{lang.pages.codes.inputCodeText}}" es-label="{{lang.pages.codes.codeText}}"></es-app-textbox>
		<es-app-textbox es-validate="validations.name" es-readonly="readonly" es-model="activeModel.name" es-field="name" es-placeholder="{{lang.pages.codes.inputCodeNameText}}" es-label="{{lang.pages.codes.codeNameText}}"></es-app-textbox>
		<es-app-select es-readonly="readonly" es-model="activeModel.status" es-field="status" es-options="normalStatus" es-label="{{lang.pages.common.statusText}}"></es-app-select>
		<es-app-lookup es-readonly="readonly" es-readonly="readonly" es-model="activeModel.group.name" es-label="{{lang.pages.codes.codeGroupText}}" es-resource="group" es-columns="groupFields" es-id="groupLookup" es-value-field="name"></es-app-lookup>
		<fieldset>
			<legend style="font-size:14px;font-weight: 700;margin-bottom: 0px;">{{lang.pages.codes.testCategoryText}}</legend>
			<div style="padding-top: 10px;">
				<es-app-lookup  es-provider="link" ng-if="!readonly" es-label="{{lang.pages.codes.addCategoryText}}" es-columns="categoryFields" es-id="categoryLookup" es-resource="category"></es-app-lookup>
			</div>
		</fieldset>
		<div>
			<table class="table table-striped">
				<thead>
				<tr>
					<th><span>{{lang.pages.codes.categoryText}}</span></th>
					<th><span>{{lang.pages.codes.actionText}}</span></th>
				</tr>
				</thead>
				<tr>
					<td colspan="2" ng-if="activeModel.categories.length == 0" style="text-align: center;" style="text-decoration: underline; color:grey;">无记录</td>
				</tr>
				<tr ng-repeat="category in activeModel.categories" style="cursor:pointer;">
					<td>{{category.name}}</td>
					<td><span ng-if="!readonly" ng-click="removeCategory(category)" class="glyphicon glyphicon-remove" style="color: darkred;font-size:12px;"></span></td>
				</tr>
			</table>
		</div>
		<es-app-maint-button-group es-model="activeModel" es-validate="validateFinalResult"></es-app-maint-button-group>
	</div>
</div>