<div>
    <es-app-breadcrumb es-items="items"></es-app-breadcrumb>
    <div ng-if="!activeModel">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>机构</th>
                <th>状态</th>
            </tr>
            <tr style="cursor:pointer;" ng-click="show(form)" ng-repeat="form in assessment.forms">
                <td>
                    {{form.ownerName}}
                </td>
                <td>
                    {{form.status == "C" ? "已提交" : "未完成"}}
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div ng-if="activeModel">
        <es-spinner ng-if="loading"></es-spinner>
        <es-form-result ng-if="!loading" es-form="activeModel.form" es-template="activeModel.template"></es-form-result>
    </div>
</div>