<div ng-show="page1Show">
    <es-app-textbox es-readonly="readonly" es-model="emptyModel.name" es-field="name" es-placeholder="输入考评名称"
                    es-label="考评名"></es-app-textbox>
    <es-app-lookup es-readonly="readonly" es-model="emptyModel.template" es-label="模板" es-resource="template"
                   es-columns="templateFields" es-id="templateLookup" es-value-field="name"></es-app-lookup>
    <div style="height: 250px">
        <div style="position: relative">
            <p>开始时间:</p>
            <div class="input-group">
                <date-picker ng-hide="hideStart" ng-model="startDate" style="position: absolute;top:45px;z-index: 999"
                             on-date-selected="closeStartPop()"></date-picker>
                <input type="text" class="form-control" ng-model="startDate">
                <span class="input-group-addon" ng-click="openStart()"><span
                        class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>

        <div style="position: relative">
            <p>结束时间:</p>
            <div class="input-group">
                <date-picker ng-hide="hideEnd" ng-model="endedDate" style="position: absolute;top:45px;z-index: 999"
                             on-date-selected="closeEndPop()"></date-picker>
                <input type="text" class="form-control" ng-model="endedDate">
                <span class="input-group-addon" ng-click="openEnd()"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <div>
        <button ng-click="next()" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="es-icon-button-text">下一步</span>
        </button>
    </div>
</div>

<div ng-show="page2Show">
    <div>
        <p>请选择考评机构:</p>
        <script type="text/ng-template" id="items_renderer.html">
            <div class="node-embed" ui-tree-handle ng-click="itemSelect(item,this)"
                 ng-class="{nodeActive:item.isSelected,matched:item.match}">
                <a class="btn btn-clear btn-xs" data-ng-show="item.items.length" ng-click="expandNode(this,$event)">
                    <i class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></i>
                </a>
                <span class="node-header">
                <input type="checkbox" ng-checked="item.isSelected" indeterminate-checkbox node="item"/>
                </span>
                {{item.name}}

            </div>

            <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed,displayed:!collapsed}">
                <li ng-repeat="item in item.ministries" ui-tree-node collapsed="true" ng-include="'items_renderer.html'">
                </li>
            </ol>
        </script>
        <div ng-show="true" ui-tree="options" data-drag-enabled="false">
            <ol id="demoTree" ui-tree-nodes="" ng-model="list">
                <li ng-repeat="item in list" ui-tree-node collapsed="false"  ng-include="'items_renderer.html'">
                </li>
            </ol>
        </div>
    </div>

</div>