<div>
    <div>
        <ol class="breadcrumb">
            <li ng-click="goback()"><a>考评记录</a></li>
            <li><a>test</a></li>
        </ol>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>机构</th>
            <th>状态</th>
        </tr>
        <tr ng-repeat="participant in participants">
            <td>
                {{participant.name}}
            </td>
            <td>
                {{participant.status}}
            </td>
        </tr>
        </thead>
    </table>
    <!--<es-app-datagrid es-service="assess" es-resource="assessment/details/{{assessmentId}}" es-columns="fields" es-options="options" es-item-id="itemId" ></es-app-datagrid>-->
</div>