<div>
    <es-app-breadcrumb es-items="items"></es-app-breadcrumb>
    <es-app-lookup es-provider="link" ng-if="!readonly" es-label="{{lang.pages.assessment.addParticipantText}}" es-columns="ministriesFields" es-id="ministryLookup" es-resource="ministry/list/"></es-app-lookup>
    <div ng-if="!activeModel">
        <es-spinner ng-if="loading"></es-spinner>
        <table ng-if="!loading" class="table table-striped">
            <thead>
            <tr>
                <th>{{lang.pages.assessment.participantText}}</th>
                <th>{{lang.pages.assessment.statusText}}</th>
                <th>{{lang.pages.assessment.assessmentScoreText}}</th>
                <th>{{lang.pages.assessment.additionalScoreText}}</th>
                <th>{{lang.pages.assessment.totalScoreText}}</th>
                <th>{{lang.pages.assessment.actionText}}</th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor:pointer;" ng-class="{es_form_activated: form.id==lastSelected.id}" ng-repeat="form in assessment.forms">
                <td ng-click="show(form)" >
                    {{form.ownerName}}
                </td>
                <td ng-click="show(form)" >
                    {{getStatusText(form.status)}}
                </td>
                <td>
                    {{form.totalScore}}
                </td>
                <td>
                    <input class="es-transparent-input"
                           readonly="true" type="number" value="{{form.additionalScore}}"
                           ng-dblclick="editAdditionalScore(form, $event)"/>
                </td>
                <td>
                    {{form.additionalScore + form.totalScore}}
                </td>
                <td>
                    <span ng-if="form.status=='C' || form.status=='F'"><a ng-click="export(form)" href="javascript:void(0)">{{lang.pages.assessment.exportText}}</a></span>
                    <span ng-if="form.status=='C'"><a ng-click="reject(form)" href="javascript:void(0)">{{lang.pages.assessment.rejectText}}</a></span>
                    <span ng-if="form.status!='F'"><a ng-click="remove(form, $index)" href="javascript:void(0)">{{lang.pages.assessment.deleteText}}</a></span>
                    <span ng-if="form.qualifiedForCert"><a ng-click="getCertUrl(form)" href="javascript:void(0)">{{lang.pages.assessment.certificationText}}</a></span>
                    <a ng-if="form.attachment" href="{{form.attachment}}">{{lang.pages.assessment.attachmentText}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="activeModel">
        <es-spinner ng-if="loading"></es-spinner>
        <es-form-result ng-if="!loading" es-form="activeModel.form" es-template="activeModel.template"></es-form-result>
    </div>
</div>