<div>
    <div ui-view>
        <div ng-hide="doFinalize">
            <div class="ds-chart-group" style="display: none;">
                <div class="row" style="padding-bottom: 20px">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">TotalNumber</div>
                            <div class="panel-body">
                                <canvas id="doughnut1" class="chart chart-doughnut" chart-data="data"
                                        chart-labels="labels"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Trend</div>
                            <div class="panel-body">
                                <canvas id="lineChart" class="chart  chart-line" chart-data="linedata"
                                        chart-labels="linelabels" chart-series="lineseries"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">PassedNumber</div>
                            <div class="panel-body">
                                <canvas id="doughnut3" class="chart chart-doughnut" chart-data="data2"
                                        chart-labels="labels2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ds-data-grid">
                <script type="text/ng-template" id="assessment_button_column.html">
                    <a href="javascript:void(0)" es-id="close" style="width:100px;height:30px;" title="结束考评并打分" ng-if="getRecordModel(rec).status == 'A'">结束</a>
                    <a href="javascript:void(0)" es-id="export" style="width:100px;height:30px;" title="导出Excel">导出</a>
                    <a href="javascript:void(0)" es-id="delete" style="width:100px;height:30px;" title="删除考评记录和结果" ng-if="parent.canDelete">删除</a>
                    <a href="javascript:void(0)" es-id="reopen" style="width:100px;height:30px;" title="重置考评" ng-if="getRecordModel(rec).status == 'F'">重开</a>
                </script>
                <es-app-datagrid es-service="assess" es-resource="assessment" es-columns="fields"
                                 es-options="options"></es-app-datagrid>
            </div>
        </div>
        <div ng-if="doFinalize">
            <es-spinner ng-if="!template"></es-spinner>
            <es-app-wizard ng-if="template" es-confirm-message="考评提交后将不能修改,请检查确定无误后提交?">
                <es-app-wizard-content>
                        <div class="es-page-section" ng-repeat="group in template.groups">
                            <div class="es-form-group">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>检测分类</th>
                                        <th>样本</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="es-form-group-cell" valign="middle">
                                            <div ng-bind="group.name" class="es-form-group-text"></div>
                                        </td>
                                        <td valign="top" class="es-form-group-cell"
                                            ng-repeat="specimen in group.specimens"><span
                                                class="es-form-group-title">{{specimen.number}}</span></td>
                                    </tr>
                                    <tr ng-repeat="row in group.rows">
                                        <td class="es-form-group-cell" valign="middle">
                                            <div>{{row.item.subject}} - {{row.item.unit}}</div>
                                        </td>
                                        <td valign="top" class="es-form-group-cell es-form-statistic-box"
                                            ng-repeat="specimen in group.specimens">
                                            <div ng-repeat="statistic in statisticValue(row, specimen)">{{statistic}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </es-app-wizard-content>
                <es-app-wizard-content>
                    <div class="es-page-section">
                        <div>
                            <div class="es-page-section" ng-repeat="group in template.groups">
                                <div align="right"><span class="glyphicon glyphicon-remove es-delete-button" title="删除检测组" ng-click="removeGroup(group.guid)" style="padding-right:5px;"></span></div>
                                <es-form-group es-type="assess" es-group="group"></es-form-group>
                            </div>
                        </div>
                    </div>
                </es-app-wizard-content>
            </es-app-wizard>
        </div>
    </div>
</div>
