<div>
    <es-app-breadcrumb es-items="items"></es-app-breadcrumb>
    <es-app-lookup es-provider="link" ng-if="!readonly" es-label="添加机构" es-columns="ministriesFields" es-id="ministryLookup" es-resource="ministry/list/"></es-app-lookup>
    <div ng-if="!activeModel">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>机构</th>
                <th>状态</th>
                <th>分数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor:pointer;" ng-repeat="form in assessment.forms">
                <td ng-click="show(form)" >
                    {{form.ownerName}}
                </td>
                <td ng-click="show(form)" >
                    {{getStatusText(form.status)}}
                </td>
                <td>
                    {{form.totalScore}}
                </td>
                <td>
                    <span ng-if="form.status=='C' || form.status=='F'"><a ng-click="export(form)" href="javascript:void(0)">导出</a></span>
                    <span ng-if="form.status=='C'"><a ng-click="reject(form)" href="javascript:void(0)">打回</a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="activeModel">
        <es-spinner ng-if="loading"></es-spinner>
        <es-form-result ng-if="!loading" es-form="activeModel.form" es-template="activeModel.template"></es-form-result>
    </div>
</div>