<div ui-view>
    <div ng-if="!activeModel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div ng-click="new()"><span class="glyphicon glyphicon-plus-sign"></span><a style="text-decoration: underline;padding-left: 5px;cursor: pointer;">创建质控计划模版</a></div>
            </div>
            <div class="panel-body">
                <es-app-datagrid es-service="iqc" es-resource="template" es-columns="fields" es-options="options"></es-app-datagrid>
            </div>
        </div>
    </div>
    <div ng-if="activeModel">
        <es-form-page>
            <div class="es-page-section">
                <button class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-file"></span><span
                        class="es-icon-button-text">新建</span></button>
                <button class="btn btn-info" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span><span
                        class="es-icon-button-text">保存</span></button>
                <button ng-if="activeModel.id" class="btn btn-danger" ng-click="remove()"><span
                        class="glyphicon glyphicon-remove"></span><span class="es-icon-button-text">删除</span></button>
                <button class="btn btn-primary" ng-click="back()"><span class="glyphicon glyphicon-share-alt"></span><span
                        class="es-icon-button-text">返回</span></button>
            </div>
            <div class="es-page-section">
                <es-iqc-plan es-template="activeModel"></es-iqc-plan>
            </div>
        </es-form-page>
    </div>
</div>