<div >
    <es-app-breadcrumb es-items="items"></es-app-breadcrumb>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-primary" ng-click="goToAnswer()">上报结果</button>
        </div>
        <div class="panel-body">
            <es-form-switch-list-calender es-calender-duration="{{duration}}" es-calender-start-date="{{startDate}}" es-calender-plan="plan" es-list-resource="{{uri}}" es-list-columns="fields" es-list-options="options"></es-form-switch-list-calender>
        </div>
    </div>
</div>
