<div ui-view>
	<es-app-tab-pane ng-if="!activeModel">
		<es-app-tab es-title="未读公告" es-active="true" es-ref="assessmentUnreadNoticeTab">
			<es-app-datagrid es-disable-page-navigation="true" es-page-size="5" es-service="assess" es-resource="readers/mine/articles/unread/list" es-disable-search="true" es-columns="fields" es-options="options"></es-app-datagrid>
		</es-app-tab>
		<es-app-tab es-title="已读公告"  es-ref="assessmentReadNoticeTab">
			<es-app-datagrid es-disable-page-navigation="true" es-page-size="5" es-service="assess" es-resource="readers/mine/articles/read/list" es-disable-search="true" es-columns="fields" es-options="options"></es-app-datagrid>
		</es-app-tab>
	</es-app-tab-pane>
	<div ng-if="activeModel">
		<a ng-click="back()" href="#">{{lang.pages.common.backText}}</a>
		<div class="panel panel-default">
			<div class="panel-heading">{{activeModel.subject}}</div>
			<div class="panel-body" style="max-width: 1000px;overflow: auto">
				<ng-quill-editor theme="bubble" placeholder="" ng-model="activeModel.article.content" read-only="true"></ng-quill-editor>
			</div>
		</div>
	</div>
</div>