<div>
	<div ng-show="!activeModel || !activeModel.id">
		<div class="panel panel-default">
			<div class="panel-heading">
				<es-add-new es-text="{{lang.pages.roles.createRoleText}}"></es-add-new>
			</div>
			<div class="panel-body">
				<es-app-datagrid es-resource="role" es-columns="fields" es-options="options"></es-app-datagrid>
			</div>
		</div>
	</div>
	<div ng-show="!activeModel || !activeModel.id">
	</div>
	<div ng-show="activeModel && activeModel.id">
		<es-app-textbox es-validate="validations.name" es-readonly="readonly" es-model="activeModel.name" es-field="name" es-placeholder="{{lang.pages.roles.inputRoleNameText}}" es-label="{{lang.pages.roles.roleNameText}}"></es-app-textbox>
		<es-app-select es-readonly="readonly" es-model="activeModel.status" es-field="status" es-options="normalStatus" es-label="{{lang.pages.common.statusText}}"></es-app-select>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:300px;"><span>{{lang.pages.roles.moduleText}}</span></th>
						<th><span>{{lang.pages.roles.readText}}</span></th>
						<th><span>{{lang.pages.roles.saveText}}</span></th>
						<th><span>{{lang.pages.roles.addText}}</span></th>
						<th><span>{{lang.pages.roles.deleteText}}</span></th>
					</tr>
				</thead>
				<tr ng-hide="permissionLoaded" style="padding:20px 20px 20px 20px;">
					<td colspan="5"><es-spinner></es-spinner></td>
				</tr>
				<tr ng-show="permissionLoaded" ng-repeat="permission in permissions" style="cursor:pointer;">
					<td ng-if="permission.component"><table><tr><td><es-app-checkbox es-readonly="readonly" es-model="permission.usability" es-value-field="usability"></es-app-checkbox></td><td><span style="position:relative;bottom:5px;" ng-bind="permission.desc"></span></td></tr></table></td>
					<td ng-if="permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.get"></es-app-checkbox></td>
					<td ng-if="permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.put"></es-app-checkbox></td>
					<td ng-if="permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.post"></es-app-checkbox></td>
					<td ng-if="permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.delete"></es-app-checkbox></td>
				</tr>
			</table>
		</div>
		<div>
			<table class="table table-striped">
				<thead>
				<tr>
					<th style="width:300px;"><span>{{lang.pages.roles.functionalityText}}</span></th>
					<th><span>{{lang.pages.roles.readText}}</span></th>
					<th><span>{{lang.pages.roles.saveText}}</span></th>
					<th><span>{{lang.pages.roles.addText}}</span></th>
					<th><span>{{lang.pages.roles.deleteText}}</span></th>
				</tr>
				</thead>
				<tr ng-hide="permissionLoaded" style="padding:20px 20px 20px 20px;">
					<td colspan="5"><es-spinner></es-spinner></td>
				</tr>
				<tr ng-show="permissionLoaded" ng-repeat="permission in permissions" style="cursor:pointer;">
					<td ng-if="!permission.component"><span ng-bind="permission.desc"></span></td>
					<td ng-if="!permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.get"></es-app-checkbox></td>
					<td ng-if="!permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.put"></es-app-checkbox></td>
					<td ng-if="!permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.post"></es-app-checkbox></td>
					<td ng-if="!permission.component"><es-app-checkbox es-readonly="readonly" es-model="permission.delete"></es-app-checkbox></td>
				</tr>
			</table>
		</div>
		<es-app-maint-button-group es-model="activeModel" es-validate="validateFinalResult"></es-app-maint-button-group>
	</div>
</div>