<div>
	<es-form-page>
		<div class="es-page-section">
			<button class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-file"></span><span class="es-icon-button-text">新建</span></button>
			<div style="float: left;padding-right: 15px;"><es-app-lookup  es-width="100" es-provider="button" ng-if="!readonly" es-label="打开" es-columns="lookupFields" es-id="templateLookup" es-service="assess" es-resource="template"></es-app-lookup></div>
			<button class="btn btn-info" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span><span class="es-icon-button-text">保存</span></button>
			<button ng-if="activeModel" class="btn btn-warning" ng-click="copy()"><span class="glyphicon glyphicon-floppy-open"></span><span class="es-icon-button-text">复制</span></button>
			<button ng-if="activeModel" class="btn btn-danger" ng-click="remove()"><span class="glyphicon glyphicon-remove"></span><span class="es-icon-button-text">删除</span></button>
		</div>
		<div class="es-page-section">
			<es-form-header es-header="header"></es-form-header>
			<div>
				<div class="es-page-section" ng-repeat="group in groups">
					<div align="right"><span class="glyphicon glyphicon-remove es-delete-button" title="删除检测组" ng-click="removeGroup(group.guid)" style="padding-right:5px;"></span></div>
					<es-form-group es-group="group" es-type="groupType"></es-form-group>
				</div>
				<div class="es-page-section">
					<es-add-button ng-click="addGroup()" es-text="添加新分组"></es-add-button>
				</div>
			</div>
		</div>
	</es-form-page>
</div>