<div>
    <es-form-page>
        <div class="es-page-section">
            <button ng-if="!templateGuid" class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-file"></span><span
                    class="es-icon-button-text">{{lang.pages.assessmentTemplate.newText}}</span></button>
            <div ng-if="!templateGuid" style="float: left;padding-right: 15px;">
                <es-app-lookup es-width="100" es-provider="button" ng-if="!readonly" es-label="{{lang.pages.assessmentTemplate.openText}}"
                               es-columns="lookupFields" es-id="templateLookup" es-service="assess"
                               es-resource="template"></es-app-lookup>
            </div>
            <button class="btn btn-info" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span><span
                    class="es-icon-button-text">{{lang.pages.assessmentTemplate.saveText}}</span></button>
            <button ng-if="!templateGuid" ng-if="activeModel" class="btn btn-warning" ng-click="copy()"><span
                    class="glyphicon glyphicon-floppy-open"></span><span class="es-icon-button-text">{{lang.pages.assessmentTemplate.copyText}}</span></button>
            <button ng-if="!templateGuid" ng-if="activeModel" class="btn btn-danger" ng-click="remove()"><span
                    class="glyphicon glyphicon-remove"></span><span class="es-icon-button-text">{{lang.pages.assessmentTemplate.deleteText}}</span></button>
        </div>
        <div class="es-page-section">
            <es-app-tab-pane>
                <es-app-tab es-active="true" es-ref="designView" es-title="{{lang.pages.assessmentTemplate.designViewText}}">
                    <div style="padding-top: 10px;">
                        <es-app-checkbox ng-show="isAdmin" style="padding-top:5px;" es-model="sharingOptions.enableSharing" es-label="{{lang.pages.assessmentTemplate.enableSharingText}}"></es-app-checkbox>
                        <es-form-header es-header="header"></es-form-header>
                        <div style="padding: 10px 0px 10px 0px;">
                            <span class="es-form-group-title">{{lang.pages.assessmentTemplate.statementText}}:</span>
                            <es-form-footer es-footer="footer"></es-form-footer>
                        </div>
                        <div style="width: 100%;overflow-x: auto;">
                            <div class="es-page-section" ng-repeat="group in groups">
                                <div align="right"><span class="glyphicon glyphicon-remove es-delete-button" title="{{lang.pages.assessmentTemplate.deleteTestGroupText}}"
                                                         ng-click="removeGroup(group.guid)"
                                                         style="padding-right:5px;"></span></div>
                                <es-form-group es-group="group" es-type="assess"></es-form-group>
                            </div>
                            <div class="es-page-section">
                                <es-add-button ng-click="addGroup()" es-text="{{lang.pages.assessmentTemplate.addTestGroupText}}"></es-add-button>
                            </div>
                        </div>
                    </div>
                </es-app-tab>

                <!--<es-app-tab es-ref="sourceView" es-title="代码视图">-->
                    <!--<div style="padding-top: 10px;">-->
                        <!--<textarea class="form-control" style="height:400px;width: 100%;">-->
                        <!--</textarea>-->
                    <!--</div>-->
                <!--</es-app-tab>-->
            </es-app-tab-pane>
        </div>
    </es-form-page>
</div>