<div>
	<div ng-if="!activeModel || !activeModel.id">
		<es-app-datagrid es-resource="user" es-columns="fields" es-transfer="transferData"></es-app-datagrid>
	</div>
	<div ng-if="activeModel && activeModel.id">
		<es-app-textbox es-model="activeModel.username" es-field="username" es-placeholder="输入用户名" es-label="用户名"></es-app-textbox>
		<es-app-textbox es-model="activeModel.name" es-field="name" es-placeholder="输入姓名" es-label="姓名"></es-app-textbox>
		<es-app-textbox es-model="activeModel.password" es-field="password" es-placeholder="输入密码" es-label="密码"></es-app-textbox>
		<es-app-textbox es-model="activeModel.password" es-field="confirmPassword" es-placeholder="再次输入密码" es-label="确认密码"></es-app-textbox>
		<es-app-select es-field="type" es-label="用户组" es-options="userType"></es-app-select>
		<es-app-maint-button-group es-model="activeModel"></es-app-maint-button-group>
	</div>
</div>