<div>
    <es-app-tab-pane>
        <es-app-tab es-active="true" es-ref="userinfo" es-title="{{lang.pages.profile.userInfoText}}">
            <es-app-textbox es-model="activeModel.name" es-field="name" es-placeholder="{{lang.pages.profile.inputNameText}}"
                            es-label="{{lang.pages.profile.nameText}}" es-validate="validations.name"></es-app-textbox>
            <es-app-textbox es-type="password" es-model="activeModel.password" es-field="password"
                            es-placeholder="{{lang.pages.profile.inputPasswordText}}" es-label="{{lang.pages.profile.passwordText}}" es-validate="validations.password"></es-app-textbox>
            <es-app-textbox es-type="password" es-model="confirmedPassword" es-field="confirmPassword"
                            es-placeholder="{{lang.pages.profile.inputConfirmPasswordText}}" es-label="{{lang.pages.profile.confirmPasswordText}}" es-validate="validations.comfirmPassword"></es-app-textbox>
            <es-app-textbox es-model="activeModel.phone" es-field="phone" es-placeholder="{{lang.pages.profile.inputPhoneText}}"
                            es-label="{{lang.pages.profile.phoneText}}"></es-app-textbox>
        </es-app-tab>
        <es-app-tab es-ref="ministryinfo" es-title="{{lang.pages.profile.orgInfoText}}">
            <es-app-textbox es-validate="validations.ministryName" es-model="activeModel.ministries[0].name" es-field="name" es-placeholder="{{lang.pages.profile.inputOrgNameText}}" es-label="{{lang.pages.profile.orgNameText}}"></es-app-textbox>
            <es-app-textbox  es-model="activeModel.ministries[0].province" es-field="province" es-placeholder="{{lang.pages.profile.inputProvinceText}}" es-label="{{lang.pages.profile.provinceText}}"></es-app-textbox>
            <es-app-textbox  es-model="activeModel.ministries[0].city" es-field="city" es-placeholder="{{lang.pages.profile.inputCityText}}" es-label="{{lang.pages.profile.cityText}}"></es-app-textbox>
            <es-app-textbox  es-model="activeModel.ministries[0].district" es-field="district" es-placeholder="{{lang.pages.profile.inputDistrictText}}" es-label="{{lang.pages.profile.districtText}}"></es-app-textbox>
            <es-app-textbox  es-model="activeModel.ministries[0].address" es-field="address" es-placeholder="{{lang.pages.profile.inputAddressText}}" es-label="{{lang.pages.profile.addressText}}"></es-app-textbox>
            <es-app-textbox  es-model="activeModel.ministries[0].zipcode" es-field="zipcode" es-placeholder="{{lang.pages.profile.inputPostcodeText}}" es-label="{{lang.pages.profile.postcodeText}}"></es-app-textbox>
        </es-app-tab>
    </es-app-tab-pane>
    <div class="es-maint-button-group">
        <button ng-click="updateProfile()" type="button" class="btn btn-primary" ng-class="{disabled:!validateFinalResult}">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="es-icon-button-text">{{lang.pages.profile.saveText}}</span>
        </button>
    </div>
</div>