<div style="position: relative">
    <es-app-tab-pane>
        <es-app-tab es-active="true" es-ref="userinfo" es-title="用户信息">
            <es-app-textbox es-model="activeModel.name" es-field="name" es-placeholder="输入姓名"
                            es-label="姓名" es-validate="validations.name"></es-app-textbox>
            <es-app-textbox es-type="password" es-model="activeModel.password" es-field="password"
                            es-placeholder="输入密码" es-label="密码" es-validate="validations.password"></es-app-textbox>
            <es-app-textbox es-type="password" es-model="confirmedPassword" es-field="confirmPassword"
                            es-placeholder="再次输入密码" es-label="确认密码" es-validate="validations.comfirmPassword"></es-app-textbox>
            <es-app-textbox es-model="activeModel.phone" es-field="phone" es-placeholder="输入电话"
                            es-label="电话"></es-app-textbox>
        </es-app-tab>
        <es-app-tab es-ref="ministryinfo" es-title="机构信息">
            <es-app-lookup es-readonly="readonly"  es-readonly="readonly" es-model="activeModel.ministries[0].name" es-label="所属卫生机构" es-resource="ministry" es-columns="ministriesFields" es-id="ministryLookup" es-value-field="name"></es-app-lookup>
        </es-app-tab>
    </es-app-tab-pane>
    <div class="es-maint-button-group" style="position: absolute;bottom: 20px; right: 20px;">
        <button ng-click="updateProfile()" type="button" class="btn btn-primary" ng-class="{disabled:!validateFinalResult}">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="es-icon-button-text">保存</span>
        </button>
    </div>
</div>