<div>
    <es-app-textbox es-readonly="readonly" es-model="activeModel.name" es-field="name" es-placeholder="输入姓名"
                    es-label="姓名" es-validate="validations.name"></es-app-textbox>
    <es-app-textbox ng-hide="readonly" es-type="password" es-model="activeModel.password" es-field="password"
                    es-placeholder="输入密码" es-label="密码" es-validate="validations.password"></es-app-textbox>
    <es-app-textbox ng-hide="readonly" es-type="password" es-model="confirmedPassword" es-field="confirmPassword"
                    es-placeholder="再次输入密码" es-label="确认密码" es-validate="validations.comfirmPassword"></es-app-textbox>
    <es-app-textbox es-readonly="readonly" es-model="activeModel.phone" es-field="phone" es-placeholder="输入电话"
                    es-label="电话"></es-app-textbox>
    <div class="es-maint-button-group">
        <button ng-click="updateProfile()" type="button" class="btn btn-primary" ng-class="{disabled:!validateFinalResult}">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="es-icon-button-text">保存</span>
        </button>
    </div>
</div>