<div>
	<div ng-if="!activeModel || !activeModel.id">
		<es-app-datagrid es-resource="user" es-columns="fields" es-transfer="transferData" es-options="options"></es-app-datagrid>
	</div>
	<div ng-if="activeModel && activeModel.id">
		<es-app-textbox es-model="activeModel.username" es-field="username" es-placeholder="输入用户名" es-label="用户名"></es-app-textbox>
		<es-app-textbox es-model="activeModel.name" es-field="name" es-placeholder="输入姓名" es-label="姓名"></es-app-textbox>
		<es-app-textbox es-model="activeModel.password" es-field="password" es-placeholder="输入密码" es-label="密码"></es-app-textbox>
		<es-app-textbox es-model="activeModel.password" es-field="confirmPassword" es-placeholder="再次输入密码" es-label="确认密码"></es-app-textbox>
		<es-app-lookup  es-model="activeModel.roles[0].name"  es-resource="role" es-columns="roleFields" es-options="roleOptions" es-id="roleLookup" es-value-field="name"></es-app-lookup>
		<es-app-select  es-model="activeModel.status" es-field="type" es-label="状态" es-options="userStatus"></es-app-select>
		<es-app-maint-button-group ng-if="activeModel.id != -1"es-model="activeModel"></es-app-maint-button-group>
		<es-app-two-button-group ng-if="activeModel.id == -1"es-model="activeModel"></es-app-two-button-group>
	</div>
</div>